---
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install packages (Docker, Compose, Git)
  apt:
    name:
      - docker.io
      - docker-compose
      - git
    state: present

- name: Start and enable Docker service
  service:
    name: docker
    state: started
    enabled: yes

- name: Add 'ubuntu' user to docker-group
  user:
    name: ubuntu
    groups: docker
    append: yes